{#
  Copyright (C) 2013  Matthieu Caneill <matthieu.caneill@gmail.com>
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "base.html" %}

{% block title %}404{% endblock %}
{% block content %}

<h2>{{ self.title() }}</h2>
<p>This page doesn't exist.</p>
<a href="/">Go home</a>

{% endblock %}
