{#
  Copyright (C) 2013  Matthieu Caneill, Stefano Zacchiroli
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block breadcrumbs %}about{% endblock %}

{% block content %}

<h2>{{ self.title() }}</h2>


<h3>Development</h3>

<ul>
  <li>source code is available via <a href="http://git-scm.com/"><b>Git</b></a>:
    <kbd>git clone git://anonscm.debian.org/qa/debsources.git</kbd></li>
  <li>the Git repository is also available via
    <a href="{{ config.GITWEB_URL }}"><b>Gitweb</b></a></li>
  <li>please report <b>bugs</b> via mail at
    <a href="mailto:info@{{ config.DOMAIN }}">info@{{ config.DOMAIN }}</a>,
    after checking that your issue isn't already listed in the
    <a href="{{ config.GITWEB_URL }};a=blob;f=BUGS;hb=refs/heads/bugs">BUGS file</a></li>
  <li>for Debsources discussions please use the
    <a href="https://lists.debian.org/debian-qa/">debian-qa <b>mailing
	list</b></a> and the <kbd>#debian-qa</kbd> <b>IRC channel</b> on
    <a href="http://www.oftc.net/">OFTC</a></li>
</ul>


<h3>Acknowledgements</h3>

<ul>
  <li>all Debsources
    <a href="http://anonscm.debian.org/gitweb/?p=qa/debsources.git;a=blob;f=AUTHORS;hb=HEAD"><b>contributors</b></a>
    for their work</li>
  <li><a href="http://www.irill.org"><img style="vertical-align: middle;"
         src="{{ url_for('static', filename='img/irill.png') }}" alt="IRILL" /></a>
    for sponsoring the initial development of Debsources, and offering both
    server and hosting facilities that power
    <a href="http://{{config.DOMAIN}}">{{ config.DOMAIN }}</a></li>
</ul>
<p><em>Thank you!</em></p>


<h3>Miscellaneous</h3>

<ul>
  <li>some <a href="{{ url_for('about_stats') }}"><b>statistics</b></a> about
    this service</li>
</ul>


{% endblock %}
