{#
  Copyright (C) 2013  Stefano Zacchiroli <zack@upsilon.cc>
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "base.html" %}
{% import "macros.inc.html" as macros %}

{% block title %}Documentation{% endblock %}

{% block breadcrumbs %}doc{% endblock %}

{% block content %}

<h2>{{ self.title() }}</h2>

<ul>
<li><a href="{{ url_for('doc_overview') }}">Overview</a></li>
<li><a href="{{ url_for('doc_url') }}">URL scheme</a></li>
<li><a href="{{ url_for('doc_api') }}">API documentation</a></li>
</ul>

{% endblock %}
