{#
  Copyright (C) 2013  Matthieu Caneill <matthieu.caneill@gmail.com>
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "base.html" %}

{% block head %}
{{ super() }}
<style>
  .url{display: block; /*margin-left: 50px;*/}
</style>
{% endblock %}

{% block title %}API documentation{% endblock %}

{% block breadcrumbs %}<a href="{{ url_for('doc') }}">doc</a> / api{% endblock %}

{% block content %}
{% set url_prefix = "http://" + config.DOMAIN %}

<h2>{{ self.title() }}</h2>

<p>You can query anything in the Debian sources, and get a JSON object
  which allows you to navigate into packages and source files.</p>

<p>The JSON result will be pretty-printed, unless the X-Requested-With header is set to XmlHttpRequest.</p>

<h3>Search</h3>

<h4>Package search</h4>
<p>
  By accessing the following URL:
  <span class="url">{{ url_prefix }}/api/search/<strong>query</strong></span>
  <a href="{{ url_prefix }}/api/search/hello">See example</a>
</p>

<h4>File search</h4>
<p>
  You can look for duplicate files using their SHA-256 sum:
  <span class="url">{{ url_prefix }}/api/sha256/?checksum=<strong>sha256</strong>&package=<strong>packagename</strong></span>
  Specifying a package name is optional.

<h4>Code search</h4>
<p>
  You can search within the code
  through <a href="http://ctags.sourceforge.net">tags</a>.
  <span class="url">{{ url_prefix
  }}/api/ctag/?ctag=<strong>tag</strong>&package=<strong>packagename</strong></span>
  Specifying a package name is optional.
</p>


<h3>Package list</h3>

<h4>All packages</h4>

<p>
  <span class="url">{{ url_prefix }}/api/list</span>
</p>

<h4>By prefix</h4>

<p>
  <span class="url">{{ url_prefix
    }}/api/prefix/<strong>prefix</strong></span>
  <a href="{{ url_prefix }}/api/prefix/libz">See example</a>
</p>

<h3>Navigation in source folders and files</h3>

<p>
  List different versions of a package:
  <span class="url">{{ url_prefix
    }}/api/src/<strong>packagename</strong></span>
  <a href="{{ url_prefix }}/api/src/ocaml">See example</a>
</p>

<p>
  List folders and files in a folder:
  <span class="url">{{ url_prefix
    }}/api/src/<strong>packagename</strong>/<strong>version</strong>/<strong>path/to/folder</strong></span>
<a href="{{ url_prefix }}/api/src/cowsay/3.03%2Bdfsg1-4/cows">See example</a>
</p>

<p>
  You can use
  <span class="url">{{ url_prefix
    }}/api/src/<strong>packagename</strong>/latest</span>
  to use automatically the latest available version of the package.
</p>

<p>
  Get information about a file (including the raw_url of the file, which
  allows you to retrieve its content):
  <span class="url">{{ url_prefix
    }}/api/src/<strong>packagename</strong>/<strong>version</strong>/<strong>path/to/file</strong></span>
  <a href="{{ url_prefix }}/api/src/cowsay/3.03%2Bdfsg1-4/cowsay">See
    example</a>
</p>

<h3>Checksums</h3>

<p>
  Query the list of indexed source files by SHA256 hash:
  <span class="url">{{ url_prefix }}/api/sha256/<strong>sha256</strong>.</span>
  <a href="{{ url_prefix }}/api/sha256/57c8ff33c9c0cfc3ef00e650a1cc910d7ee479a8bc509f6c9209a7c2a11399d6">See
    example</a>

<h3>Check the service status</h3>

<p>
  Through the following URL:
  <a href="{{ url_prefix }}/api/ping/">{{ url_prefix }}/api/ping/</a>.
  <br />
  You can check the "status" variable and/or the HTTP response.
</p>

{% endblock %}
