{#
  Copyright (C) 2013  Matthieu Caneill <matthieu.caneill@gmail.com>
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "base.html" %}
{% import "macros.inc.html" as macros %}

{% block title %}Service description{% endblock %}
{% block breadcrumbs %}<a href="{{ url_for('doc') }}">doc</a> / overview{% endblock %}

{% block content %}

<p>Debsources provides Web access to the source code of
  the <a href="http://www.debian.org">Debian</a> operating system.</p>

<p>You can <b>browse</b> through the list of available source packages, or
  search for a particular one based on its name. Multiple versions of each
  source package are available &mdash; currently, versions coming from all
  official suites available via
  the <a href="http://www.debian.org/mirror/">Debian mirror network</a> are
  available.<p>

<p>You can also <b>search</b> within the actual source code using regular
  expressions via <a href="http://codesearch.debian.net/">Debian Code
  Search</a>; search results will link you back here. Note that at present
  Debian Code Search only index the unstable suite and that its indexes are
  updated every 2 weeks.</p>

<p>Once chosen a specific package version, you can browse through the source
  package structure, inspect individual source files, and obtain links to
  individual lines. If you have Javascript enabled in your browser, source code
  will be <b>syntax-highlighted</b>; otherwise the raw file will be
  returned. Using specific <a href="{{ url_for('doc_url') }}"><b>URL
  schemes</b></a> you can <b>highlight</b> specific code lines as well as
  associate <b>pop-up messages</b> to them.</p>

<p>You can also use Debsources programmatically via its
  <a href="{{ url_for('doc_api') }}"><b>API</b></a>, or simply as a stable base
  to point to particular lines in a source file.</p>

{% endblock %}
