{#
  Copyright (C) 2013  Matthieu Caneill <matthieu.caneill@gmail.com>
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "base.html" %}

{% block breadcrumbs %}source / {% for (p, link) in pathl[:-1]
    %}<a href="{{ link }}">{{ p }}</a> / {%
  endfor %}{{ pathl[-1][0] }}{% endblock %}

{% block content %}

<div id="pkglinks">
  links for {{ pathl[0][0] }}:
  <a href="{{ pts_link }}"><abbr title="Debian Package Tracking
  System">PTS</abbr></a>{% if vcs %},
  <a href="{{ vcs['browser'] }}"><abbr title="Version Control System">VCS</abbr></a>
  {% endif %}
</div>

{% block source_content %}{% endblock %}

{% endblock %}
