{#
  Copyright (C) 2013  Matthieu Caneill <matthieu.caneill@gmail.com>
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "source_base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/source_folder.css') }}" />
{% endblock %}

{% block title %}Package: {{ package }}{% endblock %}
{% block source_content %}
<h2>{{ self.title() }}</h2>

<ul id="ls">
{% for v in versions %}
  <li><a href="{{ url_for('source_html', path_to=path+'/'+v.vnumber) }}">
      <img src="{{ config['ICONS_FOLDER'] }}22x22/places/folder.png"
           alt="version " />{{ v.vnumber }}</a>
    ({{ v.area }})
  </li>
{% endfor %}
</ul>

{% endblock %}
