{#
  Copyright (C) 2013  Matthieu Caneill <matthieu.caneill@gmail.com>
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "source_base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/source_folder.css') }}" />
{% endblock %}

{% block title %}Folder: {{ directory }}{% endblock %}
{% block source_content %}
<h2>{{ self.title() }}</h2>

<ul id="ls">
  <li><a href="{{ url_for('source_html', path_to='/'.join(path.split('/')[:-1])) }}">
      <img src="{{ config['ICONS_FOLDER'] }}22x22/places/folder.png"
           alt="d " />.. (parent)</a>
  </li>

{% for dir in subdirs %}
  <li><a href="{{ url_for('source_html', path_to=path+'/'+dir.name) }}">
      <img src="{{ config['ICONS_FOLDER'] }}22x22/places/folder.png"
           alt="d " />{{ dir.name }}</a>
  </li>
{% endfor %}

{% for file_ in subfiles %}
  <li><a href="{{ url_for('source_html', path_to=path+'/'+file_.name) }}">
      <img src="{{ config['ICONS_FOLDER'] }}22x22/mimetypes/ascii.png"
           alt="- " />{{ file_.name }}</a>
  </li>
{% endfor %}
</ul>

{% endblock %}
