/*
Copyright (C) 2013  Matthieu Caneill <matthieu.caneill@gmail.com>
License: GNU Affero General Public License, version 3 or above.
*/


/* Base (templates/base.html styles */

#pkglinks {
    font-size: small;
    float: right;
    padding: 3px;
}

/* displayed on index.html */

#indexmenu {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#bg-wrapper {
    /* background-image is set up in base.html, to use jinja2 url_for() */
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 140%;
}

.h1mainpage {
    margin-top: 0;
    padding-top: 0;
}

#indexmenu table {
    width: 700px;
    margin: auto;
    border-spacing: 20px;
    border-spacing: collapse;
}

#indexmenu table td {
    border: 0;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
    background-color: #f5f6f7;
    opacity: 0.9;
    border-radius: 15px;
}

#indexmenu table td p {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0.5em;
}
#indexmenu table td ul {
    margin-bottom: 1em;
    margin-top: 0.5em;
}

#indexmenu table #search {
    width: 60%;
}

/* lists made in multiple columns (e.g. in macros.listpackages() */

.listcolumn li {
    margin-left: 30px;
    width: 300px;
    float: left;
}

.pagination {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.search-box {
    background-color: #f5f6f7;
    border-radius: 15px;
    padding: 0 10px 0 10px;
}

.search-box h3 {
    margin-bottom: 0;
}

.search-box h4 {
    margin-top: 5px;
    margin-bottom: 0;
    font-style: normal;
    text-decoration: underline;
}

.search-box .description {
    font-style: italic;
    font-size: 95%;
}

.search-box form table {
    border: 0;
}

.search-box form table tr td {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}
